<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818426324275-5fvk9qnaklc0rke6791tpe6nqbngpil9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818426324275-5fvk9qnaklc0rke6791tpe6nqbngpil9</string>
	<key>API_KEY</key>
	<string>AIzaSyDyEHAKVd-5xdnRfSyIg1FZXPphf1Mm3qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>818426324275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>doda.com.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-d8dc5</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-d8dc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818426324275:ios:6ea6e75beff58c41</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-d8dc5.firebaseio.com</string>
</dict>
</plist>